<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCavFFmD6FNX7xl5iZ3hkompF7Xj-GL4sw</string>
	<key>GCM_SENDER_ID</key>
	<string>626888579479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.engeapp</string>
	<key>PROJECT_ID</key>
	<string>semcodar-tutorialff-v7p9hw</string>
	<key>STORAGE_BUCKET</key>
	<string>semcodar-tutorialff-v7p9hw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626888579479:ios:d8068915419e40e1d10cd2</string>
</dict>
</plist>